.First-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(images/headphones_hero_1.jpg);
    width: 100%;
    color: #ffffff;
    height: 800px;
    justify-content: space-between;
    align-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:1000px;
    height: 32px;
    margin-left: 200px;
    color: #ffffff;
    margin-top: 28px;
    flex-wrap: wrap;
   }

   .link-1 {
    color: white;
        
   }
   
  h1{
    font-size: xx-large;
    display: flex;
    text-align: center;
  }

  .under {
    text-align: center;
  }
.Paragraph1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

   a:hover {
    color: red;
   }


   .Action {
    background-color: #FF6565;
    width: 162px;
    height: 44px;
    border-radius: 50px;
    color: white;

   }

   .top {
   display: flex;
   flex-direction: column;
   align-content:  center;
   align-items: center;
   
   }

   @media screen and (max-width: 600px) {
    
   }

   .Part2 {
    display: flex;
    flex-direction: column;
   }

   .what_we_do {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text-align: center;
   }

   .sound_frequency {
    text-align: center;
   }

   .sound_frequency2 {
    text-align: center;
    display: flex;
    
   }

   .Part2_2 {
    display: flex;
    padding: 50px;
   }

   .Part2_2_1 {
    border-left 100px;
    
   }

   .Headphone_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(images/headphones_hero_2.jpg);
    width: 100%;
    color: #ffffff;
    height: 800px;
    justify-content: space-between;
    align-content: space-between;
   }